body{
 text-align: center;
 margin: 0;
}
p{
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  word-spacing: 2.5px;
  color: #40514E;
}
h1{
  font-family: 'Sacramento',cursive;
  padding-top: 7%;
  color: #9ab3f5;
  font-size: 5.625rem;
  letter-spacing: 3px;
  margin-bottom: 0;
}
h2{
  color: #7579e7;
  font-size: 2rem;
  font-family: 'Montserrat',sans-serif;
  padding-bottom: 10px;
}

h3{
  color: #9ab3f5;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: grey;
    width: 5%;
    margin: 100px auto 100px;
}

span{
  text-decoration: underline;
}
a{
  margin: 0 20px;
  font-family: 'Lato', sans-serif;
  color: #9ab3f5;
  font-size: 1.2rem;
}
a:hover{
  color: white;
}
.About{
  width: 50%;
  margin: auto;
  font-size: 1.3rem;
  padding-bottom:70px;
}
.Contact-Me{
  padding-bottom: 50px;
}
.skill-grid{
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
}
.top-container{
  background-color: #cbf1f5;
  padding-top: 75px;
}
.middle-container{
  padding: 100px 0 0 0;
}
.bottom-container{
  padding-top: 100px;
  padding-bottom: 75px;
  background-color: #7579e7;
}
.top-cloud{
  width: 15%;
  position: absolute;
  right: 20%;
}
.bottom-cloud{
  width: 15%;
  position: absolute;
  right: 70%;
}
.Profile-Img{
  height: 180px;
  border-radius: 100%;
  background-color: #a6e3e9;
}
.Character-Img1{
  height: 150px;
  border-radius: 100%;
  background-color: #a6e3e9;
  float: left;
  margin: 20px 30px 15px 0;
}
.Character-Img2{
  height: 150px;
  border-radius: 100%;
  background-color: #a6e3e9;
  float: right;
  margin:30px 0 15px 30px;
}
.btn {
   background: #9AB3F5;
   background-image: -webkit-linear-gradient(top, #9AB3F5, #7579E7);
   background-image: -moz-linear-gradient(top, #9AB3F5, #7579E7);
   background-image: -ms-linear-gradient(top, #9AB3F5, #7579E7);
   background-image: -o-linear-gradient(top, #9AB3F5, #7579E7);
   background-image: -webkit-gradient(to bottom, #9AB3F5, #7579E7);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 15px;
   line-height: 15px;
   color: #FFFFFF;
   font-family:'Montserrat',sans-serif ;
   width: 165px;
   font-size: 21px;
   font-weight: 200;
   padding: 15px 20px 15px 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #B9FFFC;
   background-image: -webkit-linear-gradient(top, #B9FFFC, #A3D8F4);
   background-image: -moz-linear-gradient(top, #B9FFFC, #A3D8F4);
   background-image: -ms-linear-gradient(top, #B9FFFC, #A3D8F4);
   background-image: -o-linear-gradient(top, #B9FFFC, #A3D8F4);
   background-image: -webkit-gradient(to bottom, #B9FFFC, #A3D8F4);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
